<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Index - Selecao Bootstrap Template</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="~/Content/landing/assets/css/style.css" />

    <!-- Favicons -->
    <link href="~/Content/landing/image/Untitled-3.png" rel="icon" />
    <link href="~/Content/landing/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/Content/landing/assets/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="~/Content/landing/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          rel="stylesheet" />
    <link href="~/Content/landing/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/Content/landing/assets/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="assets/vendor/glightbox/css/glightbox.min.css"
          rel="stylesheet" />
    <link href="~/Content/landing/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="~/Content/landing/assets/css/main.css" rel="stylesheet" />


</head>

<body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <h1 class="sitename">York School</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#hero" class="active">Головна</a></li>
                    <li><a href="#about">Про школу</a></li>
                    <li><a href="#portfolio"> Факти про Англійську мову</a></li>
                    <li><a href="#team">Відгуки</a></li>
                    <li><a href="#contact">Контакти</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a href="@Url.Action("Login", "Account")"
               class="log-btn-platform">Log in</a>
        </div>
    </header>

    <main class="main">
        <!-- Hero Section -->
        <section style="background-image: url('@Url.Content("~/Content/landing/images\\Монтажная область 1background.jpg")');" id="hero" class="hero section dark-background">
            <div id="hero-carousel"
                 data-bs-interval="5000"
                 class="container carousel carousel-fade">
                <!-- Slide 1 -->
                <div class="carousel-item active container">
                    <div class="carousel-container">
                        <div class="wellcum">
                            <h2 class="qiqi animate__animated animate__fadeInDown">
                                Welcome to <span></span>
                            </h2>
                            <p class="animate__animated animate__fadeInUp">
                                Приєднуйтесь до нашої онлайн-школи та відкрийте нові
                                можливості з професійними викладачами, зручним форматом і
                                сучасними методиками.
                            </p>
                            <a href="#about"
                               class="btn-get-started animate__animated animate__fadeInUp scrollto">Більше</a>
                        </div>
                    </div>
                </div>
            </div>

            <svg class="hero-waves"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 24 150 28 "
                 preserveAspectRatio="none">
                <defs>
                    <path id="wave-path"
                          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                </defs>
                <g class="wave1">
                    <use xlink:href="#wave-path" x="50" y="3"></use>
                </g>
                <g class="wave2">
                    <use xlink:href="#wave-path" x="50" y="0"></use>
                </g>
                <g class="wave3">
                    <use xlink:href="#wave-path" x="50" y="9"></use>
                </g>
            </svg>
        </section>
        <!-- /Hero Section -->
        <!-- About Section -->
        <section id="about" class="about section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>про нас</h2>
                <p>Про школу</p>
            </div>
            <!-- End Section Title -->

            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-6 content"
                         data-aos="fade-up"
                         data-aos-delay="100">
                        <p>
                            Наша школа англійської мови – це простір, де знання стають
                            можливістю. Ми допомагаємо студентам досягати своїх цілей,
                            використовуючи інноваційні методи викладання, що поєднують
                            інтерактивність, практичні завдання та підтримку досвідчених
                            викладачів. Наша місія – зробити вивчення англійської не тільки
                            результативним, а й приємним досвідом.
                        </p>
                        <ul>
                            <li>
                                <i class="bi bi-check2-circle"></i>
                                <span>
                                    <strong>Індивідуальний підхід</strong>: Програми,
                                    розроблені з урахуванням ваших потреб і рівня знань.
                                </span>
                            </li>
                            <li>
                                <i class="bi bi-check2-circle"></i>
                                <span>
                                    <strong>Розмовна практика</strong>: Заняття, спрямовані на
                                    розвиток впевненості у спілкуванні.
                                </span>
                            </li>
                            <li>
                                <i class="bi bi-check2-circle"></i>
                                <span>
                                    <strong>Сучасні технології</strong>: Інтерактивні платформи
                                    та онлайн-інструменти для покращення навчання.
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <p>
                            Ми віримо, що вивчення англійської мови – це ключ до світового
                            спілкування та професійного розвитку. У нашій школі кожен
                            студент отримує увагу, підтримку та найкращі умови для
                            досягнення своїх цілей. Від новачків до просунутих – ми
                            допомагаємо кожному досягати успіху!
                        </p>
                        <!-- <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /About Section -->
        <!-- Features Section -->
        <section id="features" class="features section">
            <div class="container">
                <ul class="nav nav-tabs row d-flex"
                    data-aos="fade-up"
                    data-aos-delay="100">
                    <li class="nav-item col-3">
                        <a class="nav-link active show"
                           data-bs-toggle="tab"
                           data-bs-target="#features-tab-1">
                            <i>
                                <img class="imsm" src="~/Content/landing/image/internet (2).png" alt="" />
                            </i>
                            <br />
                            <h4 class="d-none d-lg-block">Індевідуальні заняття</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link"
                           data-bs-toggle="tab"
                           data-bs-target="#features-tab-2">
                            <i> <img class="imsm" src="~/Content/landing/image/high-five.png" alt="" /></i>
                            <h4 class="d-none d-lg-block">Групові заняття</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link"
                           data-bs-toggle="tab"
                           data-bs-target="#features-tab-3">
                            <i>
                                <img class="imsm" src="~/Content/landing/image/team-spirit.png" alt="" />
                            </i>
                            <h4 class="d-none d-lg-block">Заняття для дітей</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link"
                           data-bs-toggle="tab"
                           data-bs-target="#features-tab-4">
                            <i>
                                <img class="imsm" src="~/Content/landing/image/internet (1).png" alt="" />
                            </i>
                            <h4 class="d-none d-lg-block">
                                Курсы для самостійного вивчення
                            </h4>
                        </a>
                    </li>
                </ul>
                <!-- End Tab Nav -->

                <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
                    <div class="tab-pane fade active show" id="features-tab-1">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>
                                    Розкрийте свій потенціал з індивідуальними онлайн-заняттями
                                </h3>
                                <p>
                                    Наші персоналізовані уроки з англійської допоможуть вам
                                    досягти поставлених цілей. Працюйте з досвідченими
                                    викладачами, навчайтеся у зручний час і отримуйте увагу,
                                    зосереджену лише на ваших потребах. Досягайте результатів
                                    швидше разом із нами!
                                </p>
                                <ul>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Персональні заняття з вікладачем</span>.
                                    </li>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Заняття у зручний час</span>.
                                    </li>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Індивідуальний план уроків</span>.
                                    </li>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Перевірка домашніх завдань</span>.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="~/Content/landing/image/iStock-1051423952_copy.webp"
                                     alt=""
                                     class="img-fluid" />
                            </div>
                        </div>
                    </div>
                    <!-- End Tab Content Item -->

                    <div class="tab-pane fade" id="features-tab-2">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Досягайте успіху разом із груповими онлайн-заняттями</h3>
                                <p>
                                    Вивчайте англійську в мотиваційному середовищі однодумців!
                                    Спілкуйтесь, практикуйте розмовні навички та отримуйте
                                    підтримку професійних викладачів. Групові заняття — це
                                    ефективно, цікаво та доступно. Розвивайтесь разом із
                                    командою та досягайте нових вершин у навчанні!
                                </p>

                                <ul>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Заняття в міні групах 2-4</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Парні заняття</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>
                                            - Заздалегіть визначаємо рівень знань і визначаємо цілі
                                            і формуємо групи
                                        </span>
                                    </li>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Перевірка домашніх завдань</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="~/Content/landing/image/group-english-online-classes.jpg"
                                     alt=""
                                     class="img-fluid" />
                            </div>
                        </div>
                    </div>
                    <!-- End Tab Content Item -->

                    <div class="tab-pane fade" id="features-tab-3">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Веселе та ефективне навчання для дітей онлайн</h3>
                                <p>
                                    Дайте своїй дитині можливість вивчати англійську із
                                    задоволенням! Наші заняття створені спеціально для дітей:
                                    інтерактивні уроки, ігровий підхід і професійні викладачі.
                                    Розвивайте мовні навички вашої дитини в комфортній та
                                    захопливій атмосфері!
                                </p>
                                <ul>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Заняття в ігровій формі</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Індевідуальна або групова форма навчання</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Інтерактивні заняття</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Підготовка до школи</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Допомога з домашнім завданням у школі</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="~/Content/landing/image/3.png" alt="" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="features-tab-4">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>
                                    Вчіть англійську самостійно з ефективними онлайн-курсами
                                </h3>
                                <p>
                                    Опановуйте англійську у власному темпі! Наші курси
                                    самостійного навчання пропонують структуровані матеріали,
                                    інтерактивні завдання та доступ до ресурсів 24/7. Навчайтесь
                                    зручно, легко та результативно, отримуючи знання, які
                                    потрібні саме вам!
                                </p>

                                <ul>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Готові уроки для самостійного опрацювання</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>- Курс « Подорож»</span>
                                    </li>
                                    <li>
                                        <i class="bi bi-check2-all"></i>
                                        <span>
                                            - Допомога викладача та еревірка домашніх завдань в
                                            алежності від обраного курсу
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="~/Content/landing/image/1588574_1.jpg" alt="" class="img-fluid" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section id="call-to-action"
                 class="call-to-action section dark-background">
            <div class="container">
                <div class="row" data-aos="zoom-in" data-aos-delay="100">
                    <div class="col-xl-9 text-center text-xl-start">
                        <h3></h3>
                        <p>
                            Вільно<span class="lor-orange-font"> говори англійською</span> — відкрий двері до нових можливостей
                            <span class="lor-orange-font">разом з нами!</span>
                        </p>
                        <div class="container section-title" data-aos="fade-up">
                            <h2></h2>
                            <p><span class="lor-orange-font">Сконтактуйтеся</span> з нами</p>
                        </div>
                        <div class="socials-container">
                            <a data-social="Viber"
                               style="--accent-color: #7360f2"
                               href="#">
                                <svg role="img"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Viber</title>
                                    <path d="M11.4 0C9.473.028 5.333.344 3.02 2.467 1.302 4.187.696 6.7.633 9.817.57 12.933.488 18.776 6.12 20.36h.003l-.004 2.416s-.037.977.61 1.177c.777.242 1.234-.5 1.98-1.302.407-.44.972-1.084 1.397-1.58 3.85.326 6.812-.416 7.15-.525.776-.252 5.176-.816 5.892-6.657.74-6.02-.36-9.83-2.34-11.546-.596-.55-3.006-2.3-8.375-2.323 0 0-.395-.025-1.037-.017zm.058 1.693c.545-.004.88.017.88.017 4.542.02 6.717 1.388 7.222 1.846 1.675 1.435 2.53 4.868 1.906 9.897v.002c-.604 4.878-4.174 5.184-4.832 5.395-.28.09-2.882.737-6.153.524 0 0-2.436 2.94-3.197 3.704-.12.12-.26.167-.352.144-.13-.033-.166-.188-.165-.414l.02-4.018c-4.762-1.32-4.485-6.292-4.43-8.895.054-2.604.543-4.738 1.996-6.173 1.96-1.773 5.474-2.018 7.11-2.03zm.38 2.602c-.167 0-.303.135-.304.302 0 .167.133.303.3.305 1.624.01 2.946.537 4.028 1.592 1.073 1.046 1.62 2.468 1.633 4.334.002.167.14.3.307.3.166-.002.3-.138.3-.304-.014-1.984-.618-3.596-1.816-4.764-1.19-1.16-2.692-1.753-4.447-1.765zm-3.96.695c-.19-.032-.4.005-.616.117l-.01.002c-.43.247-.816.562-1.146.932-.002.004-.006.004-.008.008-.267.323-.42.638-.46.948-.008.046-.01.093-.007.14 0 .136.022.27.065.4l.013.01c.135.48.473 1.276 1.205 2.604.42.768.903 1.5 1.446 2.186.27.344.56.673.87.984l.132.132c.31.308.64.6.984.87.686.543 1.418 1.027 2.186 1.447 1.328.733 2.126 1.07 2.604 1.206l.01.014c.13.042.265.064.402.063.046.002.092 0 .138-.008.31-.036.627-.19.948-.46.004 0 .003-.002.008-.005.37-.33.683-.72.93-1.148l.003-.01c.225-.432.15-.842-.18-1.12-.004 0-.698-.58-1.037-.83-.36-.255-.73-.492-1.113-.71-.51-.285-1.032-.106-1.248.174l-.447.564c-.23.283-.657.246-.657.246-3.12-.796-3.955-3.955-3.955-3.955s-.037-.426.248-.656l.563-.448c.277-.215.456-.737.17-1.248-.217-.383-.454-.756-.71-1.115-.25-.34-.826-1.033-.83-1.035-.137-.165-.31-.265-.502-.297zm4.49.88c-.158.002-.29.124-.3.282-.01.167.115.312.282.324 1.16.085 2.017.466 2.645 1.15.63.688.93 1.524.906 2.57-.002.168.13.306.3.31.166.003.305-.13.31-.297.025-1.175-.334-2.193-1.067-2.994-.74-.81-1.777-1.253-3.05-1.346h-.024zm.463 1.63c-.16.002-.29.127-.3.287-.008.167.12.31.288.32.523.028.875.175 1.113.422.24.245.388.62.416 1.164.01.167.15.295.318.287.167-.008.295-.15.287-.317-.03-.644-.215-1.178-.58-1.557-.367-.378-.893-.574-1.52-.607h-.018z" />
                                </svg>
                            </a>
                            <a data-social="Telegram"
                               style="--accent-color: #26a5e4"
                               href="#">
                                <svg role="img"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Telegram</title>
                                    <path d="M11.944 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12A12 12 0 0 0 12 0a12 12 0 0 0-.056 0zm4.962 7.224c.1-.002.321.023.465.14a.506.506 0 0 1 .171.325c.016.093.036.306.02.472-.18 1.898-.962 6.502-1.36 8.627-.168.9-.499 1.201-.82 1.23-.696.065-1.225-.46-1.9-.902-1.056-.693-1.653-1.124-2.678-1.8-1.185-.78-.417-1.21.258-1.91.177-.184 3.247-2.977 3.307-3.23.007-.032.014-.15-.056-.212s-.174-.041-.249-.024c-.106.024-1.793 1.14-5.061 3.345-.48.33-.913.49-1.302.48-.428-.008-1.252-.241-1.865-.44-.752-.245-1.349-.374-1.297-.789.027-.216.325-.437.893-.663 3.498-1.524 5.83-2.529 6.998-3.014 3.332-1.386 4.025-1.627 4.476-1.635z" />
                                </svg>
                            </a>
                            <a data-social="Instagram"
                               style="--accent-color: #fe107c"
                               href="#">
                                <svg role="img"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Instagram</title>
                                    <path d="M7.0301.084c-1.2768.0602-2.1487.264-2.911.5634-.7888.3075-1.4575.72-2.1228 1.3877-.6652.6677-1.075 1.3368-1.3802 2.127-.2954.7638-.4956 1.6365-.552 2.914-.0564 1.2775-.0689 1.6882-.0626 4.947.0062 3.2586.0206 3.6671.0825 4.9473.061 1.2765.264 2.1482.5635 2.9107.308.7889.72 1.4573 1.388 2.1228.6679.6655 1.3365 1.0743 2.1285 1.38.7632.295 1.6361.4961 2.9134.552 1.2773.056 1.6884.069 4.9462.0627 3.2578-.0062 3.668-.0207 4.9478-.0814 1.28-.0607 2.147-.2652 2.9098-.5633.7889-.3086 1.4578-.72 2.1228-1.3881.665-.6682 1.0745-1.3378 1.3795-2.1284.2957-.7632.4966-1.636.552-2.9124.056-1.2809.0692-1.6898.063-4.948-.0063-3.2583-.021-3.6668-.0817-4.9465-.0607-1.2797-.264-2.1487-.5633-2.9117-.3084-.7889-.72-1.4568-1.3876-2.1228C21.2982 1.33 20.628.9208 19.8378.6165 19.074.321 18.2017.1197 16.9244.0645 15.6471.0093 15.236-.005 11.977.0014 8.718.0076 8.31.0215 7.0301.0839m.1402 21.6932c-1.17-.0509-1.8053-.2453-2.2287-.408-.5606-.216-.96-.4771-1.3819-.895-.422-.4178-.6811-.8186-.9-1.378-.1644-.4234-.3624-1.058-.4171-2.228-.0595-1.2645-.072-1.6442-.079-4.848-.007-3.2037.0053-3.583.0607-4.848.05-1.169.2456-1.805.408-2.2282.216-.5613.4762-.96.895-1.3816.4188-.4217.8184-.6814 1.3783-.9003.423-.1651 1.0575-.3614 2.227-.4171 1.2655-.06 1.6447-.072 4.848-.079 3.2033-.007 3.5835.005 4.8495.0608 1.169.0508 1.8053.2445 2.228.408.5608.216.96.4754 1.3816.895.4217.4194.6816.8176.9005 1.3787.1653.4217.3617 1.056.4169 2.2263.0602 1.2655.0739 1.645.0796 4.848.0058 3.203-.0055 3.5834-.061 4.848-.051 1.17-.245 1.8055-.408 2.2294-.216.5604-.4763.96-.8954 1.3814-.419.4215-.8181.6811-1.3783.9-.4224.1649-1.0577.3617-2.2262.4174-1.2656.0595-1.6448.072-4.8493.079-3.2045.007-3.5825-.006-4.848-.0608M16.953 5.5864A1.44 1.44 0 1 0 18.39 4.144a1.44 1.44 0 0 0-1.437 1.4424M5.8385 12.012c.0067 3.4032 2.7706 6.1557 6.173 6.1493 3.4026-.0065 6.157-2.7701 6.1506-6.1733-.0065-3.4032-2.771-6.1565-6.174-6.1498-3.403.0067-6.156 2.771-6.1496 6.1738M8 12.0077a4 4 0 1 1 4.008 3.9921A3.9996 3.9996 0 0 1 8 12.0077" />
                                </svg>
                            </a>
                            <a data-social="whatsapp"
                               style="--accent-color: #25d366"
                               href="#">
                                <svg role="img"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>WhatsApp</title>
                                    <path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z" />
                                </svg>
                            </a>
                            <a data-social="Gmail" style="--accent-color: #ea4335" href="#">
                                <svg role="img"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Gmail</title>
                                    <path d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 cta-btn-container text-center">
                        <br />
                        <img class="flag-brikish" src="~/Content/landing/image/1377975.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <!-- /Call To Action Section -->
        <!-- Services Section -->
        <section id="services" class="services section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up"></div>
            <!-- End Section Title -->

            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6"
                         data-aos="fade-up"
                         data-aos-delay="100">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <img class="smicon" src="~/Content/landing/image/reading.png" alt="" />
                            </div>
                            <p class="crdss">
                                Сучасні методики навчання — вчитися легко та цікаво!
                            </p>
                        </div>
                    </div>

                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6"
                         data-aos="fade-up"
                         data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <img class="smicon" src="~/Content/landing/image/student.png" alt="" />
                            </div>
                            <p>Досвідчені викладачі — підтримка на кожному кроці.</p>
                        </div>
                    </div>

                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6"
                         data-aos="fade-up"
                         data-aos-delay="300">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <img class="smicon"
                                     src="~/Content/landing/image/business-report.png"
                                     alt="" />
                            </div>
                            <p>Результат із першого уроку — впевненість у своїх знаннях.</p>
                        </div>
                    </div>

                    <!-- End Service Item -->
                </div>
            </div>
        </section>
        <!-- /Services Section -->
        <!-- Portfolio Section -->
        <section id="portfolio" class="portfolio section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>інтересні факти</h2>
                <p>Англійської мови</p>
            </div>
            <!-- End Section Title -->

            <div class="container">
                <div class="isotope-layout"
                     data-default-filter="*"
                     data-layout="masonry"
                     data-sort="original-order">
                    <ul class="portfolio-filters isotope-filters"
                        data-aos="fade-up"
                        data-aos-delay="100">
                        <li data-filter="*" class="filter-active">Всі</li>
                        <li data-filter=".filter-app">Поширення мови</li>
                        <li data-filter=".filter-product">Унікальність мови</li>
                        <li data-filter=".filter-branding">Цікаві факти</li>
                    </ul>
                    <!-- End Portfolio Filters -->

                    <div class="row gy-4 isotope-container"
                         data-aos="fade-up"
                         data-aos-delay="200">
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <img src="~/Content/landing/images/Монтажная область 1English.png"
                                 class="img-fluid"
                                 alt="" />
                        </div>
                        <!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <img src="" class="img-fluid" alt="" />
                        </div>
                        <!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <img src="~/Content/landing/assets/img/masonry-portfolio/masonry-portfolio-3.jpg"
                                 class="img-fluid"
                                 alt="" />
                            <div class="portfolio-info">
                                <h4>Branding 1</h4>
                                <p>Lorem ipsum, dolor sit</p>
                                <a href="assets/img/masonry-portfolio/masonry-portfolio-3.jpg"
                                   title="Branding 1"
                                   data-gallery="portfolio-gallery-branding"
                                   class="glightbox preview-link">
                                    <i class="bi bi-zoom-in"></i>
                                </a>
                                <a href="portfolio-details.html"
                                   title="More Details"
                                   class="details-link">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                        </div>
                        <!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <img src="~/Content/landing/images/Монтажная область 1cuntry.png"
                                 class="img-fluid"
                                 alt="" />
                        </div>
                        <!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <img src="~/Content/landing/assets/img/masonry-portfolio/masonry-portfolio-5.jpg"
                                 class="img-fluid"
                                 alt="" />
                            <div class="portfolio-info">
                                <h4>Product 2</h4>
                                <p>Lorem ipsum, dolor sit</p>
                                <a href="https://i.redd.it/i-enhanced-altered-the-underworld-sky-behind-kirito-along-v0-88sbfqjqkdh91.png?width=1920&format=png&auto=webp&s=535def56429f3613b3613da5fa74ac0e2428f88d"
                                   title="Product 2"
                                   data-gallery="portfolio-gallery-product"
                                   class="glightbox preview-link">
                                    <i class="bi bi-zoom-in"></i>
                                </a>
                                <a href="portfolio-details.html"
                                   title="More Details"
                                   class="details-link">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                        </div>
                        <!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <img src="~/Content/landing/assets/img/masonry-portfolio/masonry-portfolio-6.jpg"
                                 class="img-fluid"
                                 alt="" />
                            <div class="portfolio-info">
                                <h4>Branding 2</h4>
                                <p>Lorem ipsum, dolor sit</p>
                                <a href="~/Content/landing/assets/img/masonry-portfolio/masonry-portfolio-6.jpg"
                                   title="Branding 2"
                                   data-gallery="portfolio-gallery-branding"
                                   class="glightbox preview-link">
                                    <i class="bi bi-zoom-in"></i>
                                </a>
                                <a href="#"
                                   title="More Details"
                                   class="details-link">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                        </div>
                        <!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <img src="~/Content/landing/assets/img/masonry-portfolio/masonry-portfolio-3.jpg"
                                 class="img-fluid"
                                 alt="" />
                            <div class="portfolio-info">
                                <h4>Branding 1</h4>
                                <p>Lorem ipsum, dolor sit</p>
                                <a href="assets/img/masonry-portfolio/masonry-portfolio-3.jpg"
                                   title="Branding 1"
                                   data-gallery="portfolio-gallery-branding"
                                   class="glightbox preview-link">
                                    <i class="bi bi-zoom-in"></i>
                                </a>
                                <a href="portfolio-details.html"
                                   title="More Details"
                                   class="details-link">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                        </div>
                        <!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <img src="~/Content/landing/images/Монтажная область 1dictionary.png"
                                 class="img-fluid"
                                 alt="" />
                        </div>
                        <!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <img src="~/Content/landing/assets/img/masonry-portfolio/masonry-portfolio-8.jpg"
                                 class="img-fluid"
                                 alt="" />
                            <div class="portfolio-info">
                                <h4>Product 3</h4>
                                <p>Lorem ipsum, dolor sit</p>
                                <a href="~/Content/landing/assets/img/masonry-portfolio/masonry-portfolio-8.jpg"
                                   title="Product 3"
                                   data-gallery="portfolio-gallery-product"
                                   class="glightbox preview-link">
                                    <i class="bi bi-zoom-in"></i>
                                </a>
                                <a href="#"
                                   title="More Details"
                                   class="details-link">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                        </div>
                        <!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <img src="~/Content/landing/assets/img/masonry-portfolio/masonry-portfolio-8.jpg"
                                 class="img-fluid"
                                 alt="" />
                            <div class="portfolio-info">
                                <h4>Product 3</h4>
                                <p>Lorem ipsum, dolor sit</p>
                                <a href="~/Content/landing/assets/img/masonry-portfolio/masonry-portfolio-8.jpg"
                                   title="Product 3"
                                   data-gallery="portfolio-gallery-product"
                                   class="glightbox preview-link">
                                    <i class="bi bi-zoom-in"></i>
                                </a>
                                <a href="#"
                                   title="More Details"
                                   class="details-link">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                        </div>
                        <!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <img src="assets/img/masonry-portfolio/masonry-portfolio-8.jpg"
                                 class="img-fluid"
                                 alt="" />
                            <div class="portfolio-info">
                                <h4>Product 3</h4>
                                <p>Lorem ipsum, dolor sit</p>
                                <a href="assets/img/masonry-portfolio/masonry-portfolio-8.jpg"
                                   title="Product 3"
                                   data-gallery="portfolio-gallery-product"
                                   class="glightbox preview-link">
                                    <i class="bi bi-zoom-in"></i>
                                </a>
                                <a href="portfolio-details.html"
                                   title="More Details"
                                   class="details-link">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                        </div>
                        <!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <img src="~/Content/landing/assets/img/masonry-portfolio/masonry-portfolio-9.jpg"
                                 class="img-fluid"
                                 alt="" />
                            <div class="portfolio-info">
                                <h4>Branding 3</h4>
                                <p>Lorem ipsum, dolor sit</p>
                                <a href="~/Content/landing/assets/img/masonry-portfolio/masonry-portfolio-9.jpg"
                                   title="Branding 2"
                                   data-gallery="portfolio-gallery-branding"
                                   class="glightbox preview-link">
                                    <i class="bi bi-zoom-in"></i>
                                </a>
                                <a href="#"
                                   title="More Details"
                                   class="details-link">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                        </div>
                        <!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <img src="~/Content/landing/assets/img/masonry-portfolio/masonry-portfolio-3.jpg"
                                 class="img-fluid"
                                 alt="" />
                            <div class="portfolio-info">
                                <h4>Branding 1</h4>
                                <p>Lorem ipsum, dolor sit</p>
                                <a href="~/Content/landing/assets/img/masonry-portfolio/masonry-portfolio-3.jpg"
                                   title="Branding 1"
                                   data-gallery="portfolio-gallery-branding"
                                   class="glightbox preview-link">
                                    <i class="bi bi-zoom-in"></i>
                                </a>
                                <a href="#"
                                   title="More Details"
                                   class="details-link">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                        </div>
                        <!-- End Portfolio Item -->
                    </div>
                    <!-- End Portfolio Container -->
                </div>
            </div>
        </section>

        <!-- Testimonials Section -->
        <section id="team" class="testimonials section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Відгуки</h2>
                <p>від наших студентів</p>
            </div>
            <!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          },
                          "breakpoints": {
                            "320": {
                              "slidesPerView": 1,
                              "spaceBetween": 40
                            },
                            "1200": {
                              "slidesPerView": 3,
                              "spaceBetween": 10
                            }
                          }
                        }
                    </script>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Content/landing/image/10337609.png"
                                     class="testimonial-img"
                                     alt="" />
                                <h3>Людмила Савчук</h3>
                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Найкраща онлайн-школа англійської! Уроки інтерактивні, матеріал подається цікаво та зрозуміло. Навчаюсь із комфортом, не виходячи з дому!</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                        <!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Content/landing/image/10337609.png"
                                     class="testimonial-img"
                                     alt="" />
                                <h3>Андрій Шевченко</h3>

                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Зручний онлайн-формат, професійні викладачі та ефективна методика! Завдяки цій школі моя англійська значно покращилася.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                        <!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Content/landing/image/10337609.png"
                                     class="testimonial-img"
                                     alt="" />
                                <h3>Марія Петренко</h3>

                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Дуже сподобалося навчання! Уроки проходять онлайн, але відчуття, ніби займаєшся з викладачем наживо. Атмосфера чудова, завжди є підтримка.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                        <!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Content/landing/image/10337609.png"
                                     class="testimonial-img"
                                     alt="" />
                                <h3>Артем Зайченко</h3>

                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Онлайн-заняття дають максимальну гнучкість – можу навчатися з будь-якої точки світу! Викладачі пояснюють доступно, і я більше не боюся говорити англійською.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                        <!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Content/landing/image/10337609.png"
                                     class="testimonial-img"
                                     alt="" />
                                <h3>Олександр Коваль</h3>

                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Думав, що онлайн-курси не можуть бути ефективними, але ця школа змінила мою думку! Живе спілкування, практика, цікаві завдання – все супер!</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                        <!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/Content/landing/image/10337609.png"
                                     class="testimonial-img"
                                     alt="" />
                                <h3>Вікторія Дорошенко</h3>

                                <div class="stars">
                                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Навчатися онлайн – зручно та ефективно! Уроки динамічні, багато розмовної практики. Тепер впевнено говорю англійською, дякую!</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                        <!-- End testimonial item -->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

        <section class="form-sec">
            <div class="form-container">
                <h2>Запис на пробний онлайн-урок</h2>
                <label for="name">Ваше ім'я</label>
                <input type="text" id="name" placeholder="Ім'я" required />
                <label for="phone">Телефон</label>
                <div class="tel-input">
                    <select id="phone-code" required>
                        <option value="+1">+1 (USA)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+48" selected>+48 (Poland)</option>
                        <option value="+380">+380 (Ukraine)</option>
                        <option value="+91">+91 (India)</option>
                    </select>
                    <input type="tel" id="phone" placeholder="(000) 000 000" required />
                </div>
                <label for="email">Email</label>
                <input type="email"
                       id="email"
                       placeholder="janedoe5678@gmail.com"
                       required />
                <label for="messenger">Ваш нік в Instagram</label>
                <input type="text" id="messenger" placeholder="masha" required />
                <label for="recipient">Для кого?</label>
                <select id="recipient" required>
                    <option value="" disabled selected>Для кого?</option>
                    <option value="1">Для себе</option>
                    <option value="2">Для дитини</option>
                </select>
                <button type="submit">Записатись</button>
            </div>
            <div>
                <img class="image-all" src="~/Content/landing/images/Безымянный-2.png" alt="" />
            </div>
        </section>

        <!-- Faq Section -->
        <section id="faq" class="faq section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Відповіді на часті питання</h2>
                <p></p>
            </div>

            <section class="dropdown-quest">
                <div class="card-one">
                    <div class="card-header1" onclick="toggleContent()">
                        Чи можу я навчитися у вашій школі, якщо я не знаю англійської?
                    </div>
                    <div class="card-content" id="cardContent">
                        <p>
                            Так, ми пропонуємо курси для початківців(рівень А1), де
                            викладачі допомагають вивчити мову з нуля.
                        </p>
                    </div>
                </div>
                <div class="card-one">
                    <div class="card-header1" onclick="toggleContent2()">
                        Який графік занять у вас є?
                    </div>
                    <div class="card-content" id="cardContent2">
                        <p>
                            МИ пропонуємо ранкові, денні та вечірні заняття а також гнучкі
                            онлайн-курси, щоб задовольнити різні потреби студентів.
                        </p>
                    </div>
                </div>

                <div class="card-one">
                    <div class="card-header1" onclick="toggleContent3()">
                        Чи є курси для тих, хто хоче поїхати за кордон?
                    </div>
                    <div class="card-content" id="cardContent3">
                        <p>
                            Так ми пропонуємо курси загальної англійської, англійської для
                            подорожі.
                        </p>
                    </div>
                </div>

                <div class="card-one">
                    <div class="card-header1" onclick="toggleContent4()">
                        Чи є у вас спеціальні курси для дітей?
                    </div>
                    <div class="card-content" id="cardContent4">
                        <p>
                            Так, ми пропонуємо курси для дітей різного віку, які допомагають
                            їм освоїти англійську в інтерактивній та веселій формі.
                        </p>
                    </div>
                </div>

                <div class="card-one">
                    <div class="card-header1" onclick="toggleContent5()">
                        Як швидко я зможу підготуватися до складання іспиту?
                    </div>
                    <div class="card-content" id="cardContent5">
                        <p>
                            Це залежить від вашого рівня та цілей. Ми допоможемо створити
                            індивідуальний план підготовки, щоб максимально ефективно
                            використати час.
                        </p>
                    </div>
                </div>

                <div class="card-one">
                    <div class="card-header1" onclick="toggleContent6()">
                        Чи можна навчатись у вашій школі індивідуально?
                    </div>
                    <div class="card-content" id="cardContent6">
                        <p>
                            Так, ми пропонуємо індивідуальні уроки, які адаптовані до ваших
                            цілей і графіку.
                        </p>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <footer id="contact" class="footer dark-background">
        <div class="container">
            <h3 class="sitename">York School</h3>
            <div class="footer-containere">

                <div class="footer-columne1">
                    <h3>Наш контент</h3>
                    <span>Наша школа англійської мови – це місце, де знання стають впевненістю! Ми пропонуємо сучасні методики, досвідчених викладачів і дружню атмосферу. Навчайтеся легко, спілкуйтеся вільно та відкривайте нові можливості разом із нами! Приєднуйтесь – англійська відкриває світ!</span>
                </div>
                <!-- Column 1 -->
                <div class="footer-columne">
                    <h3>Для дорослих</h3>
                    <ul>
                        <li><a href="#about">Індивідуальний підхід</a></li>
                        <li><a href="#about">Розмовна практика</a></li>
                        <li><a href="#about">Заняття у зручний час</a></li>
                        <li><a href="#about">Персональні заняття з вікладачем</a></li>
                    </ul>
                </div>

                <!-- Column 2 -->
                <div class="footer-columne">
                    <h3>Для дітей</h3>
                    <ul>
                        <li><a href="#about">Інтерактивні заняття</a></li>
                        <li><a href="#about">Перевірка домашніх завдань</a></li>
                        <li><a href="#about">Підготовка до школи</a></li>
                        <li><a href="#about">Заняття в ігровій формі</a></li>
                    </ul>
                </div>

                <!-- Column 4 -->
                <div class="footer-columne">
                    <h3>Контакти</h3>
                    <ul>
                        <div class="socials-containera">
                            <a data-social="Viber"
                               style="--accent-color: #7360f2"
                               href="#">
                                <svg role="img"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Viber</title>
                                    <path d="M11.4 0C9.473.028 5.333.344 3.02 2.467 1.302 4.187.696 6.7.633 9.817.57 12.933.488 18.776 6.12 20.36h.003l-.004 2.416s-.037.977.61 1.177c.777.242 1.234-.5 1.98-1.302.407-.44.972-1.084 1.397-1.58 3.85.326 6.812-.416 7.15-.525.776-.252 5.176-.816 5.892-6.657.74-6.02-.36-9.83-2.34-11.546-.596-.55-3.006-2.3-8.375-2.323 0 0-.395-.025-1.037-.017zm.058 1.693c.545-.004.88.017.88.017 4.542.02 6.717 1.388 7.222 1.846 1.675 1.435 2.53 4.868 1.906 9.897v.002c-.604 4.878-4.174 5.184-4.832 5.395-.28.09-2.882.737-6.153.524 0 0-2.436 2.94-3.197 3.704-.12.12-.26.167-.352.144-.13-.033-.166-.188-.165-.414l.02-4.018c-4.762-1.32-4.485-6.292-4.43-8.895.054-2.604.543-4.738 1.996-6.173 1.96-1.773 5.474-2.018 7.11-2.03zm.38 2.602c-.167 0-.303.135-.304.302 0 .167.133.303.3.305 1.624.01 2.946.537 4.028 1.592 1.073 1.046 1.62 2.468 1.633 4.334.002.167.14.3.307.3.166-.002.3-.138.3-.304-.014-1.984-.618-3.596-1.816-4.764-1.19-1.16-2.692-1.753-4.447-1.765zm-3.96.695c-.19-.032-.4.005-.616.117l-.01.002c-.43.247-.816.562-1.146.932-.002.004-.006.004-.008.008-.267.323-.42.638-.46.948-.008.046-.01.093-.007.14 0 .136.022.27.065.4l.013.01c.135.48.473 1.276 1.205 2.604.42.768.903 1.5 1.446 2.186.27.344.56.673.87.984l.132.132c.31.308.64.6.984.87.686.543 1.418 1.027 2.186 1.447 1.328.733 2.126 1.07 2.604 1.206l.01.014c.13.042.265.064.402.063.046.002.092 0 .138-.008.31-.036.627-.19.948-.46.004 0 .003-.002.008-.005.37-.33.683-.72.93-1.148l.003-.01c.225-.432.15-.842-.18-1.12-.004 0-.698-.58-1.037-.83-.36-.255-.73-.492-1.113-.71-.51-.285-1.032-.106-1.248.174l-.447.564c-.23.283-.657.246-.657.246-3.12-.796-3.955-3.955-3.955-3.955s-.037-.426.248-.656l.563-.448c.277-.215.456-.737.17-1.248-.217-.383-.454-.756-.71-1.115-.25-.34-.826-1.033-.83-1.035-.137-.165-.31-.265-.502-.297zm4.49.88c-.158.002-.29.124-.3.282-.01.167.115.312.282.324 1.16.085 2.017.466 2.645 1.15.63.688.93 1.524.906 2.57-.002.168.13.306.3.31.166.003.305-.13.31-.297.025-1.175-.334-2.193-1.067-2.994-.74-.81-1.777-1.253-3.05-1.346h-.024zm.463 1.63c-.16.002-.29.127-.3.287-.008.167.12.31.288.32.523.028.875.175 1.113.422.24.245.388.62.416 1.164.01.167.15.295.318.287.167-.008.295-.15.287-.317-.03-.644-.215-1.178-.58-1.557-.367-.378-.893-.574-1.52-.607h-.018z" />
                                </svg>
                            </a>
                            <a data-social="Telegram"
                               style="--accent-color: #26a5e4"
                               href="#">
                                <svg role="img"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Telegram</title>
                                    <path d="M11.944 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12A12 12 0 0 0 12 0a12 12 0 0 0-.056 0zm4.962 7.224c.1-.002.321.023.465.14a.506.506 0 0 1 .171.325c.016.093.036.306.02.472-.18 1.898-.962 6.502-1.36 8.627-.168.9-.499 1.201-.82 1.23-.696.065-1.225-.46-1.9-.902-1.056-.693-1.653-1.124-2.678-1.8-1.185-.78-.417-1.21.258-1.91.177-.184 3.247-2.977 3.307-3.23.007-.032.014-.15-.056-.212s-.174-.041-.249-.024c-.106.024-1.793 1.14-5.061 3.345-.48.33-.913.49-1.302.48-.428-.008-1.252-.241-1.865-.44-.752-.245-1.349-.374-1.297-.789.027-.216.325-.437.893-.663 3.498-1.524 5.83-2.529 6.998-3.014 3.332-1.386 4.025-1.627 4.476-1.635z" />
                                </svg>
                            </a>
                            <a data-social="Instagram"
                               style="--accent-color: #fe107c"
                               href="#">
                                <svg role="img"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Instagram</title>
                                    <path d="M7.0301.084c-1.2768.0602-2.1487.264-2.911.5634-.7888.3075-1.4575.72-2.1228 1.3877-.6652.6677-1.075 1.3368-1.3802 2.127-.2954.7638-.4956 1.6365-.552 2.914-.0564 1.2775-.0689 1.6882-.0626 4.947.0062 3.2586.0206 3.6671.0825 4.9473.061 1.2765.264 2.1482.5635 2.9107.308.7889.72 1.4573 1.388 2.1228.6679.6655 1.3365 1.0743 2.1285 1.38.7632.295 1.6361.4961 2.9134.552 1.2773.056 1.6884.069 4.9462.0627 3.2578-.0062 3.668-.0207 4.9478-.0814 1.28-.0607 2.147-.2652 2.9098-.5633.7889-.3086 1.4578-.72 2.1228-1.3881.665-.6682 1.0745-1.3378 1.3795-2.1284.2957-.7632.4966-1.636.552-2.9124.056-1.2809.0692-1.6898.063-4.948-.0063-3.2583-.021-3.6668-.0817-4.9465-.0607-1.2797-.264-2.1487-.5633-2.9117-.3084-.7889-.72-1.4568-1.3876-2.1228C21.2982 1.33 20.628.9208 19.8378.6165 19.074.321 18.2017.1197 16.9244.0645 15.6471.0093 15.236-.005 11.977.0014 8.718.0076 8.31.0215 7.0301.0839m.1402 21.6932c-1.17-.0509-1.8053-.2453-2.2287-.408-.5606-.216-.96-.4771-1.3819-.895-.422-.4178-.6811-.8186-.9-1.378-.1644-.4234-.3624-1.058-.4171-2.228-.0595-1.2645-.072-1.6442-.079-4.848-.007-3.2037.0053-3.583.0607-4.848.05-1.169.2456-1.805.408-2.2282.216-.5613.4762-.96.895-1.3816.4188-.4217.8184-.6814 1.3783-.9003.423-.1651 1.0575-.3614 2.227-.4171 1.2655-.06 1.6447-.072 4.848-.079 3.2033-.007 3.5835.005 4.8495.0608 1.169.0508 1.8053.2445 2.228.408.5608.216.96.4754 1.3816.895.4217.4194.6816.8176.9005 1.3787.1653.4217.3617 1.056.4169 2.2263.0602 1.2655.0739 1.645.0796 4.848.0058 3.203-.0055 3.5834-.061 4.848-.051 1.17-.245 1.8055-.408 2.2294-.216.5604-.4763.96-.8954 1.3814-.419.4215-.8181.6811-1.3783.9-.4224.1649-1.0577.3617-2.2262.4174-1.2656.0595-1.6448.072-4.8493.079-3.2045.007-3.5825-.006-4.848-.0608M16.953 5.5864A1.44 1.44 0 1 0 18.39 4.144a1.44 1.44 0 0 0-1.437 1.4424M5.8385 12.012c.0067 3.4032 2.7706 6.1557 6.173 6.1493 3.4026-.0065 6.157-2.7701 6.1506-6.1733-.0065-3.4032-2.771-6.1565-6.174-6.1498-3.403.0067-6.156 2.771-6.1496 6.1738M8 12.0077a4 4 0 1 1 4.008 3.9921A3.9996 3.9996 0 0 1 8 12.0077" />
                                </svg>
                            </a>
                            <a data-social="whatsapp"
                               style="--accent-color: #25d366"
                               href="#">
                                <svg role="img"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>WhatsApp</title>
                                    <path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z" />
                                </svg>
                            </a>
                            <a data-social="Gmail" style="--accent-color: #ea4335" href="#">
                                <svg role="img"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Gmail</title>
                                    <path d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z" />
                                </svg>
                            </a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#"
       id="scroll-top"
       class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Content/landing/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/landing/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/landing/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/landing/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/landing/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/landing/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/landing/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/landing/assets/js/myjs.js"></script>
    <!-- Main JS File -->
    <script src="~/Content/landing/assets/js/main.js"></script>
</body>
</html>
