
@{
    ViewBag.Title = "Dictionary";
}



<div class="dictionary-container">
    <h1>English Dictionary</h1>
    <input type="text" class="word-input-field" placeholder="Enter word">
    <input type="text" class="definition-input-field" placeholder="Enter definition">
    <button class="add-word-btn" onclick="addDictionaryEntry()">Add Word</button>
    <h2>Word List</h2>
    <ul class="dictionary-word-list"></ul>
</div>