
@{
    ViewBag.Title = "Subject";
}

<h2>Subjects</h2>

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">here your previous topics</h3>
                <h6 class="font-weight-normal mb-0">unviewed topics <span class="text-primary">3 unread alerts!</span></h6>
            </div>
        </div>
    </div>
</div>
<div class="galaxy-container" id="nebulaContainer">
    <div class="nebula-box">
        <img class="nebulaimg" src="./assets/images/favicon.png" alt="">
        <div class="star-title">Present Simple</div>
        <div class="cosmic-description">Vocabulary, grammar</div>
    </div>
</div>
